/*********************************************
FONTS
*********************************************/

@font-face {
    font-family: "Anurati";
    src: "../fonts/Anurati-Regular.otf";
}
@font-face {
    font-family: "ImogenAgnes";
    src: "../fonts/Imogen-Agnes.otf";
}

/*@font-face {
    font-family: "Maven Pro", sans-serif;
    src: url(fonts);
}*/


/*********************************************
GENERAL
*********************************************/

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Maven Pro", sans-serif;
    background-color: white;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
}
.footer-fill {
    flex: 1;
}
footer {
    
}

/*********************************************
NAVIGATION BAR
*********************************************/

.nav-not-signed-in {
    display: none;
}
.nav-top-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 10vh;
    min-height: 30px;
}
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    height: 50%;
    /*width: 100%;*/
    margin: 0 !important;
}
.site-logo {
    margin-left: 8px;
    color: black;
    text-decoration: none;
    font-family: Anurati, "Maven Pro", sans-serif;
    font-size: 23px;
}

/*.site-logo img {
    display: inline-block;
    height: 85%;
    width: auto;
}*/
.nav-top {
    width: 50%;
}
.nav-top li {
    /*background-color: purple;
    border: 2px solid green;*/
}
.nav-top li a {
    text-decoration: none;
    color: black;
}
.nav-burger img {
    display: none;
    /* when not signed in */
    height: 50px;
    width: auto;
}

/*********************************************
LANDING SCREEN
*********************************************/

.item {
    width: 90%;
    min-width: 300px;
    max-width: 1600px;
}
.intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: inherit;
    /*overflow: auto;*/
}
h1 {
    font-size: 48px;
    font-family: Anurati, sans-serif;
    ;
}
.login-sign-up {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
button {
    min-height: 40px;
    min-width: 100px;
    width: 15%;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover {
    background-color: black;
    border-color: white;
    color: white
}
.button-div {
    width: 15%;
    max-width: 100px;
    height: auto;
    display: inline-block;
}
.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: inherit;
    font-weight: 500;
}
.scroll-down p {
    margin: 0 0 -7px;
    font-size: 1.2em;
}
.scroll-down a {
    color: black;
    text-decoration: none;
}
#down-arrow {
    font-family: Anurati, "Maven Pro", sans-serif;
    font-size: 2em;
    padding: 2px 10px 10px;
}

/*********************************************
FORM
*********************************************/

.form-background {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    float: left;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.form-background:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.f-left {
    left: 0;
}
.f-right {
    right: 0;
}
form {
    display: none;
    position: fixed;
    z-index: 2;
    /*left: calc(50% - 9px);*/
    /* scroll bar interference */
    /*transform: translate(-50%, 0);*/
    width: 30%;
    min-width: 236px;
    margin: 0;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    display: none;
    margin-top: 200px;
    max-width: 750px;

}
label {
    padding-left: 5px;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Full-width input fields */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

.submit-button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
}
.submit-button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: white;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px;
    position: relative;
}
.form-container {
    padding: 16px;
    text-align: left;
}
span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    `` left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    margin-top: 200px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15%;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.form-close {
    position: absolute;
    right: 17px;
    top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.form-close:hover, .form-close:focus {
    color: black;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*********************************************
INDEX: EXTRA DETAILS
*********************************************/

.section-header {
    font-size: 2em;
    margin: 0;
    padding: 10px 0;
}
.section-header+p {
    padding: 5px 10px;
    margin: 0;
}
.about {
    background-color: inherit;
}
.how-to-play {
    background-color: inherit;
}
.footer {
    background: inherit;
}
.footer p {
    margin: 15px 0;
}

/*********************************************
CHALLENGE: TABLE
*********************************************/

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    margin-top: 30px;
    min-width: 270px;
    width: 80%;
    max-width: 600px;
}
.table-username {
    text-align: left;
    padding: 10px 0 10px 20px;
    width: 75%;
}
.table-challenge {
    text-align: center;
    padding: 10px 0;
    width: 25%;
}
.table-challenge a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}
table th {
    padding: 15px 0;
    font-size: 24px;
}

/*********************************************
PLAY: BOARD
*********************************************/

.board-container {
    height: 50%;
    min-height: 400px;
    width: auto;
    min-width: 400px;
    margin-top: 10vh;
    background: #000 url("../img/board.png") no-repeat;
    background-size: cover;
}
.table-pieces {
    width: 100%;
    height: 100%;
    margin: 0;
}
.table-pieces td {
    width: calc(100%/9);
    height: calc(100%/9);
    text-align: center;
}
.board-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}


/*video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/site-logo-brain.png) no-repeat;
    background-size: cover;
}*/
